/* .hm-header{
    position: fixed;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    z-index: 1000;
} */
.header-div {
   
    width: 100%;
    max-width: 740px;
    min-width: 300px;
    margin: 0 auto;
    background: rgba(201, 21, 35, 0);
    height:40px;
    position:relative;
}
.logo{
    width: 50px;
    height: 665px;
    /* position: absolute; */
    background-position: 0 -103px;
    top: 4px;
    left: 10px;
}
.logo img{
    width: 100px;
    height: 70px;
}
.slider{
    width: 100%;
    max-width: 740px;
    min-width: 300px;
}


