
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

.slider{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#images{
    /* position: relative;
    background-color:red; */
    width: 100%;
   
}

#images>a{
    transition:  opacity 1s linear;
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.displayImg{
    /* display: block; */
    opacity: 1;
}

.hiddenImg{
 /* display: none; */
 opacity: 0;
}
/* img{
    transition: opacity 1s linear;
    opacity: 1;
    width:  100%;
    height: 300px;    
    margin: 0 auto;
} */

.btn{
    position: absolute;
    top:50%;
    width: 60px;
    height: 30px;
    background-color: #000;
    opacity: 0.3;
    color: #fff;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background-position: center;
}

.rightButton{
    right:20px;
}

.leftButton{
    left:20px;
}

.txt-box{
    width: 100%;
    /* background-color: #000; */
    /* opacity: 0.3; */
    height:5px;
    position: absolute;    
    left: 0;
    bottom: 0;
    display: flex;
    z-index: 5;
    transition: height 0.1s linear 0s;
}

.txt-box:hover{
    height: 40px;
}

.txtItem{
    width: 12.5%;
    margin-right: 2px;
    color: #fff;
    text-align: center;    
}
.txtItem:last-child{
    margin:0;
}

.txtItem:hover,.heighlightColor{
    background-color:rgb(252, 164, 2);
}
.normalColor{
    background-color:rgba(0,0,0,0.5);
}

/* 搜索 */


.header-div {
   
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    background: rgba(201, 21, 35, 0);
    height:80px;
    position:relative;
}
.logo{
    width: 50px;
    height: 665px;
    /* position: absolute; */
    background-position: 0 -103px;
    top: 4px;
    left: 10px;
}
.logo img{
    width: 100px;
    height: 65px;
    border-radius: 25px;
}
.slider{
    width: 100%;
   
    min-width: 300px;
}
.hm-header{
    background-color: #C0C0C0;
}
.nm-nav{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;

}
.hm-nav>ul{
    width: 100%;
    padding: 10px 0;

}
.hm-nav>ul>li{
    width: 25%;
    float: left;

}
.hm-nav>ul>li>a{
    display: block;
}
.hm-nav>ul>li>a>img{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;

}
.hm-nav>ul>li>a>p{
    text-align: center;
    color: #666;
    font-size: 12px;
    padding: 6px 0;
}
.hm-product{
    padding: 0 5px;

}
.hm-product>.product-box{
    width: 100%;
    background: #fff;
    margin-top: 10px;
    box-shadow:  0 0 1px #e0e0e0;

}
.hm-product>.product-box>.product-box-tit{
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #e0e0e0;
}
.hm-product>.product-box>.product-box-tit.no-border{
    border-bottom: none;
}
.hm-product>.product-box>.product-box-tit>h3{
    font-weight: normal;
    font-size: 15px;
    padding-left: 20px;
    position: relative;
    color: #666;
}
.hm-product>.product-box>.product-box-tit>h3::before{
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 3px;
    height: 12px;
    background: #dd8855;

}
.hm-sk{}
.hm-sk .sk-icon{
    background: url("asd/高跟鞋.png")no-repeat;
    background-size: 16px 20px;
    width: 16px;
    height: 20px;
    float: left;;
    margin-top: 6px;
}
.hm-sk .hm-sk-name{
    color: #dd8855;
    font-size: 15px;
    float: left;
}
.hm-sk.sk-time{
    float: left;
    margin-top: 8px;
}
.hm-sk.sk-time>span{
    float: left;
    width: 15px;
    height: 15px;
 line-height: 15px;
 text-align: center;
 background: #333;
 color: #fff;
 margin-left: 3px;
}
.hm-sk.sk-time>span:nth-child(3n){
    background: #fff;
    color: #333;
    width: 5px;
}
.hm-sk .product-box-con>ul{
     width: 33.333%;
     float: left;
     text-align: center;    
}
.hm-sk.product-box-con>ul>li>a{
    display: block;
    width: 100%;
    border-right: 1px solid #e0e0e0;

}
.hm-sk.product-box-con>ul>li:last-child>a{
    border-right: 0;

}
.hm-sk.product-box-con>ul>li>a>img{
    width: 64%;
    display: block;
    margin: 0 auto;

}
.hm-sk.product-box-con>ul>li>p:first-of-type{
    color: #dd8855;
    padding: -5px;;

}
/* .w-50{
    width: 50%;
    display: block;
}
.w-50>img{
    display: block;
    width: 100%;

}
.b-left{
    border-left: 1px solid #dd8855;

}
.b-right{
border-right: 1px solid #e0e0e0;
}
.b-bottom{
    border-bottom: 1px solid #666;
} */








